* {
     margin: 0;
     padding: 0;
}
body {
     font-family: sans-serif;
}
h1 {
     text-align: center;
     margin-top: 75px;
}
ul {
     margin: 50px;
     list-style-type: none;
}
li a {
     color: green;
     text-decoration: none;
     font-size: 25px;
}
form {
     margin: 50px 0 0 715px;
}
form input[type='radio']  {
     cursor: pointer;
}
form input[type='submit'] {
     border: 1px solid orangered;
     padding: 7px;
     background: none;
     font-size: 14px;
     border-radius: 3px;
     cursor: pointer;
     margin:15px 0 0 12px;
}
